In [1]:
import os
os.chdir('/Users/liuwenbin/Desktop/quantalpha')

In [2]:
import pandas as pd
df = pd.read_excel('Data.xlsx', sheet_name = 'stock data', header = None)

In [4]:
#row with ticker in it
ticker_row = df.iloc[2,:].dropna()
ticker_row_new = ticker_row.copy();

In [5]:
date_idx = []
price_idx = []
turn_idx = []
mkt_idx = []
pricedf = pd.DataFrame()
turndf = pd.DataFrame()
mktdf = pd.DataFrame()

# Select the column with full date range with another column to form a dataframe
# This dataframe is used for joining later
complete_df = pd.DataFrame({'date':df.iloc[3:,3486], 'temp_col':df.iloc[3:,3487]})

# First column is date
pricedf[0] = df.iloc[3:,3486];
turndf[0] = df.iloc[3:,3486];
mktdf[0] = df.iloc[3:,3486];

for i in range(df.shape[1]):
    if (i+1)%7 == 1:
        date_idx.append(i);
        
    elif (i+1)%7 == 2:
        price_idx.append(i);
        cur_date_col = df.iloc[3:, i-1];
        cur_price_col = df.iloc[3:, i];
        temp_df_price = pd.DataFrame({'date': cur_date_col,'price': cur_price_col})
        result = pd.merge(complete_df, temp_df_price, how = 'left', on = 'date')
        full_date_price = result['price']
        # n = # of stock
        n = int(((i+1) - 2)/7)
        pricedf[n+1] = full_date_price
                    
    elif (i+1)%7 == 3:      
        turn_idx.append(i);
        cur_date_col = df.iloc[3:, i-2];
        cur_turn_col = df.iloc[3:, i];
        temp_df_turn = pd.DataFrame({'date': cur_date_col,'turnover': cur_turn_col})
        result = pd.merge(complete_df, temp_df_turn, how = 'left', on = 'date')
        full_date_turn = result['turnover']
        # n = # of stock
        n = int(((i+1) - 3)/7)
        turndf[n+1] = full_date_turn
        
    elif (i+1)%7 == 4:      
        mkt_idx.append(i);
        cur_date_col = df.iloc[3:, i-3];
        cur_mkt_col = df.iloc[3:, i];
        temp_df_mkt = pd.DataFrame({'date': cur_date_col,'mv': cur_mkt_col})
        result = pd.merge(complete_df, temp_df_mkt, how = 'left', on = 'date')
        full_date_mv = result['mv']
        # n = # of stock
        n = int(((i+1) - 4)/7)
        mktdf[n+1] = full_date_mv
        
pricedf = pricedf.reset_index(drop=True)
pricedf = pricedf.dropna(how='all')
turndf = turndf.reset_index(drop=True)
turndf = turndf.dropna(how='all')
mktdf = mktdf.reset_index(drop=True)
mktdf = mktdf.dropna(how='all')

In [6]:
# If we need to seperate data for different stocks
import numpy as np
test = np.empty(500, dtype=object)

In [29]:
pricedf['month'] = pricedf[0].dt.month.astype(int)
pricedf['value_grp'] = (pricedf['month'].diff(1) != 0).astype('int').cumsum()
price_month_df = pricedf.groupby('value_grp').last()

turndf['month'] = turndf[0].dt.month.astype(int)
turndf['value_grp'] = (turndf['month'].diff(1) != 0).astype('int').cumsum()
turn_month_df = turndf.groupby('value_grp').last()

mktdf['month'] = mktdf[0].dt.month.astype(int)
mktdf['value_grp'] = (mktdf['month'].diff(1) != 0).astype('int').cumsum()
mkt_month_df = mktdf.groupby('value_grp').last()
price_month_df

,0,1,2,3,4,5,6,7,8,9,...,493,494,495,496,497,498,499,500,m,month
value_grp,,,,,,,,,,,,,,,,,,,,,
1,2000-01-31,29.893,9.6366,NaN,NaN,1.3377,NaN,17.1478,NaN,NaN,...,NaN,34.953,NaN,NaN,8.7224,43.9586,42.7299,28.9988,0,1
2,2000-02-29,29.410,9.3835,NaN,NaN,1.1282,NaN,22.5016,NaN,NaN,...,NaN,29.848,NaN,NaN,7.8027,42.8323,62.0424,27.3316,0,2
3,2000-03-31,30.476,11.4084,NaN,NaN,0.8093,NaN,25.2700,NaN,NaN,...,NaN,39.552,NaN,NaN,9.0568,52.4216,57.5408,33.9289,0,3
4,2000-04-28,28.159,10.9387,NaN,NaN,0.5022,NaN,28.0019,NaN,NaN,...,NaN,32.791,NaN,NaN,10.0965,55.1066,49.8671,29.6878,0,4
5,2000-05-31,28.094,11.5565,NaN,NaN,0.5236,NaN,31.9601,NaN,NaN,...,NaN,29.454,NaN,NaN,9.5293,56.8100,64.7480,37.2298,0,5
6,2000-06-30,29.208,12.9556,NaN,NaN,0.4856,NaN,31.7181,NaN,NaN,...,NaN,22.806,NaN,NaN,9.2173,41.2226,58.2172,35.3683,0,6
7,2000-07-31,29.704,12.5386,NaN,NaN,0.7759,NaN,28.2560,NaN,NaN,...,NaN,23.360,NaN,NaN,11.0823,31.1746,58.8703,43.0916,0,7
8,2000-08-31,31.358,12.3743,NaN,NaN,1.0520,NaN,31.6715,NaN,NaN,...,NaN,22.552,NaN,NaN,11.9627,33.3594,61.1561,41.3935,0,8
9,2000-09-30,31.732,13.8344,NaN,NaN,1.1330,NaN,39.2545,NaN,NaN,...,NaN,20.139,NaN,NaN,12.5263,22.9346,66.8938,48.4918,0,9
10,2000-10-31,31.524,15.4639,NaN,NaN,0.9902,NaN,40.0930,NaN,NaN,...,NaN,23.930,NaN,NaN,12.0580,19.8071,53.3191,46.4580,0,10
11,2000-11-30,38.990,15.7571,NaN,NaN,0.8759,NaN,38.1054,NaN,NaN,...,NaN,29.481,NaN,NaN,12.9067,9.8429,32.5139,51.7098,0,11
12,2000-12-30,39.784,12.5324,NaN,NaN,1.2520,NaN,26.7137,NaN,NaN,...,NaN,28.361,NaN,NaN,12.0341,12.8614,39.0447,48.4203,0,12
13,2001-01-31,36.698,13.6415,NaN,NaN,1.5709,NaN,22.5513,NaN,NaN,...,NaN,27.876,NaN,NaN,12.3352,16.6306,37.9718,50.7390,0,1
14,2001-02-28,37.710,14.4188,NaN,NaN,1.7661,NaN,13.4500,NaN,NaN,...,NaN,27.608,NaN,NaN,13.2553,14.3127,32.2807,51.8477,0,2
15,2001-03-31,33.145,13.3765,NaN,NaN,1.7566,NaN,14.6770,NaN,NaN,...,NaN,24.669,NaN,NaN,14.4327,11.2215,22.6711,47.7799,0,3
16,2001-04-30,39.575,13.5471,NaN,NaN,2.0588,NaN,20.2008,NaN,NaN,...,NaN,29.371,NaN,NaN,14.4087,21.0033,34.1914,43.3764,0,4
17,2001-05-31,41.044,15.6290,NaN,NaN,2.6833,NaN,20.7229,NaN,NaN,...,NaN,33.822,NaN,NaN,13.9763,21.1515,34.0421,52.7061,0,5
18,2001-06-30,39.334,14.4727,NaN,NaN,2.8486,NaN,22.2106,NaN,NaN,...,NaN,32.007,NaN,NaN,14.0475,20.2834,29.9371,52.4138,0,6
19,2001-07-31,37.743,15.5219,NaN,12.0319,2.3985,NaN,18.8686,NaN,NaN,...,NaN,31.179,NaN,NaN,13.4780,17.4674,30.9372,49.9782,0,7
20,2001-08-31,35.295,14.8387,NaN,11.5156,2.6658,NaN,15.2829,NaN,NaN,...,NaN,33.984,NaN,NaN,13.6776,19.2671,27.5487,53.1162,0,8
21,2001-09-29,33.831,15.2813,NaN,10.2847,2.2705,NaN,13.8274,NaN,NaN,...,NaN,30.384,NaN,NaN,14.2908,17.2346,19.9431,56.4739,0,9
22,2001-10-31,37.537,16.0433,NaN,14.3747,3.0451,NaN,14.0563,NaN,NaN,...,NaN,33.863,NaN,NaN,14.4981,15.0538,26.9889,61.6542,0,10
23,2001-11-30,40.585,16.4488,NaN,21.1650,2.9693,9.311,18.2308,14.005,NaN,...,NaN,36.332,NaN,NaN,13.4516,18.6743,31.6537,60.4655,0,11
24,2001-12-31,39.984,16.6367,NaN,21.9988,3.0653,9.808,17.8696,13.527,NaN,...,NaN,37.341,NaN,NaN,14.0682,21.2785,34.1168,59.1853,0,12
25,2002-01-31,37.109,17.0624,NaN,21.6018,2.8985,8.859,17.2772,14.606,NaN,...,NaN,40.622,NaN,NaN,12.5773,23.2476,30.1386,57.6258,0,1
26,2002-02-28,41.250,16.4697,NaN,22.0386,3.4800,10.304,19.9004,13.909,NaN,...,NaN,44.174,NaN,NaN,12.7524,20.9609,32.4374,63.6920,0,2
27,2002-03-30,38.765,15.8500,NaN,20.6567,3.2447,11.208,19.2546,13.957,NaN,...,NaN,41.850,NaN,NaN,12.8675,22.6336,29.9080,61.7976,0,3
28,2002-04-30,43.602,16.0629,NaN,15.7804,3.4937,12.335,18.6720,18.744,NaN,...,NaN,41.192,NaN,NaN,13.3524,17.0017,26.1231,61.0979,0,4
29,2002-05-31,43.378,13.5436,NaN,15.6374,3.6662,10.864,18.1094,18.445,NaN,...,NaN,39.855,NaN,NaN,10.7377,18.2508,23.8019,57.8780,0,5
30,2002-06-29,43.505,11.1535,NaN,13.8664,3.0105,11.667,13.4698,16.204,NaN,...,NaN,36.935,NaN,NaN,7.8869,12.7883,16.0172,53.9681,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,2015-04-30,148.060,44.4084,58.7502,89.8862,22.3896,169.386,75.0000,143.392,2.28,...,NaN,232.263,80.2702,110.5448,30.9094,28.3934,40.8196,34.9051,0,4
185,2015-05-29,151.119,46.3136,61.6482,93.0824,25.5938,178.724,80.1300,155.880,2.28,...,NaN,230.450,80.7159,97.3113,30.1654,28.3442,44.7188,35.7105,0,5
186,2015-06-30,146.326,47.1478,62.7614,93.4279,24.4698,185.994,80.5000,162.803,2.47,...,NaN,221.874,78.3194,99.0564,30.5582,26.0515,41.0087,35.8723,0,6
187,2015-07-31,142.486,48.0803,65.1549,100.3002,28.3050,205.972,83.3800,174.609,2.16,...,NaN,215.404,75.1964,96.5676,31.9311,27.1896,40.6201,36.9761,0,7
188,2015-08-31,134.670,42.0417,57.0731,91.7675,28.1965,195.006,78.3200,172.586,1.79,...,NaN,210.454,73.3091,70.7434,30.8828,24.7898,39.1745,35.4917,0,8
189,2015-09-30,139.021,39.4224,52.5317,97.5359,31.5190,178.973,85.8400,190.513,1.80,...,NaN,209.625,71.4968,62.1856,33.2633,24.8386,41.5046,34.7576,0,9
190,2015-10-30,150.983,43.2821,59.6764,103.3375,36.4681,216.098,91.0100,198.655,2.20,...,NaN,200.880,77.2184,69.8330,33.7504,24.0164,45.3561,36.0587,0,10
191,2015-11-30,147.643,42.2954,52.4927,102.7651,37.0893,224.582,89.9100,154.248,2.23,...,NaN,190.638,71.2623,62.7920,32.2423,25.8102,46.3995,36.6327,0,11
192,2015-12-31,141.025,41.1171,53.6620,99.3018,36.6160,235.188,92.3400,150.741,2.75,...,122.9070,191.482,68.1615,67.6066,34.0866,25.7803,44.4945,36.8256,0,12
193,2016-01-29,145.864,36.6528,53.7246,99.0495,32.6527,193.674,87.9900,147.491,2.07,...,111.3918,189.536,60.5095,60.9492,37.1020,23.1722,46.4761,34.2577,0,1
194,2016-02-29,153.526,37.4240,52.8645,99.7286,31.0753,221.346,87.2100,153.413,2.46,...,114.2730,213.874,72.1401,85.7907,37.4328,26.0813,46.1110,34.4789,0,2
195,2016-03-31,160.288,40.7981,55.9647,112.0492,34.0217,219.392,94.5000,158.807,2.83,...,115.3744,223.086,72.4460,90.6944,39.9022,27.7878,45.4173,35.5856,0,3
196,2016-04-29,161.020,36.9543,58.6496,111.2270,34.0714,241.447,92.9400,155.426,3.60,...,124.1120,220.993,67.1917,88.5873,39.0919,23.8722,41.4093,31.3393,0,4
197,2016-05-31,163.276,38.0018,62.0277,116.4676,37.5799,253.919,98.7000,150.309,4.16,...,125.0142,220.916,65.3182,96.1614,40.2167,25.4132,46.0287,32.4903,0,5
198,2016-06-30,170.306,38.2540,59.0886,110.7862,39.9057,246.243,94.7300,160.825,4.96,...,121.6063,218.966,67.7861,86.9846,43.4989,23.5454,44.2423,31.3415,0,6
199,2016-07-29,172.972,43.8668,64.0836,111.2858,40.1343,263.831,96.6700,168.268,6.30,...,121.9412,210.791,66.4795,95.3413,41.4715,25.3291,49.3588,33.0443,0,7
200,2016-08-31,176.080,41.1441,62.1968,113.0000,43.2452,271.412,103.5000,159.777,7.34,...,125.7229,224.718,68.3008,91.0419,40.5490,24.9724,53.1161,34.2412,0,8
201,2016-09-30,167.513,41.0855,60.6469,115.8211,43.8615,254.355,108.3900,146.268,6.97,...,130.0579,216.818,65.1236,94.5643,38.3560,25.2696,51.8459,32.7885,0,9
202,2016-10-31,162.781,37.6932,54.2986,115.7491,43.1061,218.792,107.1700,138.592,6.70,...,122.2487,199.019,62.7650,85.8810,39.3539,24.0112,49.5301,33.9238,0,10
203,2016-11-30,168.528,37.7424,59.1271,116.5112,36.2580,251.815,101.9500,170.214,8.68,...,120.0839,230.818,72.5705,97.0913,37.5809,23.9342,53.4740,35.4311,0,11
204,2016-12-31,174.508,38.9896,61.9542,113.8093,37.7091,238.193,105.9100,171.620,11.24,...,124.9951,227.836,75.0333,90.2513,39.8596,27.9939,56.9753,36.8317,0,12
205,2017-01-31,171.886,42.2859,59.5372,113.3144,39.7665,206.067,115.1700,162.503,12.24,...,124.2906,246.808,78.3793,95.6601,40.4946,28.1119,57.2605,38.0322,0,1
206,2017-02-28,187.110,44.7274,62.1573,122.3704,46.7836,209.283,120.0400,155.115,13.03,...,128.9645,246.292,80.8519,100.2334,42.7123,28.9375,58.1013,39.7149,0,2
207,2017-03-31,187.980,43.6697,63.8943,116.8279,49.0400,173.692,130.0400,142.880,14.16,...,129.8434,227.495,83.1844,115.8080,43.8469,28.5912,56.5088,39.2989,0,3
208,2017-04-28,195.333,43.4794,66.1454,120.3000,52.8400,177.197,134.8500,142.660,10.39,...,133.5199,189.270,94.8448,124.8453,44.0439,27.5998,61.9292,41.8317,0,4
209,2017-05-31,205.041,46.3634,66.9086,126.5800,59.8000,168.053,143.5900,135.418,11.24,...,146.5122,172.619,101.1820,132.7683,47.1273,27.6791,66.7818,42.3264,0,5
210,2017-06-30,208.560,48.7303,71.8343,124.0500,57.1600,200.752,141.2100,105.143,13.19,...,145.4900,182.761,100.6948,131.9116,45.1966,28.4500,64.3552,44.0105,0,6
211,2017-07-31,206.433,49.1600,70.9900,130.0200,63.9700,200.000,147.7900,110.460,13.24,...,147.2400,168.164,101.6989,125.8549,47.7577,32.1000,62.5551,44.0602,0,7
212,2017-08-31,202.050,51.1900,77.0500,131.1200,64.0000,179.900,153.7600,95.549,12.86,...,147.6200,163.940,97.6100,143.3800,49.1971,32.1500,64.1100,38.2419,0,8
213,2017-09-22,210.760,52.5100,87.4800,137.9000,63.9000,163.990,148.5000,95.590,13.30,...,152.7100,176.610,105.2300,144.9100,47.4100,33.1300,69.3300,39.1900,0,9